*{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
:root{
    --primary-color: #fff;
    --secondary-color: #2a9d8f;
    --accent1-color: #219EBC;
    --accent2-color: #264653;
}

h1, h2, h3 {
    color: var(--accent2-color);
}

.header{
    position: fixed;
    color: var(--accent2-color);
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--accent2-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}
nav{
    padding: 5px 20px;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    width: 100%;
    display: block;
}
.logo{
    flex: 1;
}
.logo a{
    display: flex;
    align-items: center;
}
.hero {
    position: relative;
    width: 80%;
    margin: 0 auto;
    height: 300px;
    background-size: cover;
    background-position: center;
}
.hero h1{
    font-size: 28px;
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);  
}
.hero article {
    position: absolute;
    align-items: center;
    display: flex;
    justify-content: space-around;
    bottom: 0;
    left: 0;
    background-color: var(--secondary-color);
    margin: 10px;
    opacity: 0.7; /* adjust the value as needed */
    padding: 10px; /* adjust the value as needed */
  }
  .hero article img {
    float: right;
    width: 50%; 
    height: auto;
    margin-right: 40px;
  }
  .hero article p {
    color: var(--primary-color);
    width: 50%; /* adjust the value as needed */
    font-size: 16px; /* adjust the value as needed */
    line-height: 1.5; /* adjust the value as needed */
  
  }
  
.hero img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
h2{
    color: var(--accent2-color);
}
.socilalinks a {
    text-decoration: none;
    
}

.socilalinks img {
	width: 30px;
}


/*Thank you!*/